:root {
  --primary-color: grey;
  --secondary-color: white;
  --tertiary-color: black;
  
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/*General styles for entire body*/
body {
  color: var(--secondary-color);
  font-family: Baskerville, "Baskerville Old Face";
  background-color: var(--primary-color)
}

/*Styles for header, footer, and nav*/
header {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webskit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
  text-align: center;
}

header nav {
  font-size: 20px;
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0px;
}

header nav ul li span {
  padding: 10px 15px;
  color: var(--secondary-color);
  font-size: 30px;
}

header nav ul li span:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;

}

footer {
  color: var(--secondary-color);
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/*End styles for header and nav*/

/*Styles for hero section*/
.hero {
  background-image: url(../src/assets/Hero\ BG.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 50px 10px 0;
  height: 300px;
  background-position: 80%;
}

.hero p {
  font-size: 70px;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

/*End of hero styles*/

/*Styles for about me section*/

#about-me {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

#about-me article {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 40px;
}

#about-me p {
  width: 40%;
  display: flex;
  align-items: center;
  margin: 0px 40px;
}

#about-me .img-container {
  width: 80%;
}

#about-me img {
  display: flex;
  align-items: center;
  max-width: 75%;
  padding: 20px 40px;
  border-radius: 50%;
}




/*end "about me" styling */

/*Styles for work section */

#work {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.app-container {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.app-container a {
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  text-decoration: none;
}


.primary-app {
  margin: 1%;
  width: 98%;
  height: 400px;
  border: 5px solid var(--secondary-color);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  /* opacity: 1;
  transition-duration: 0.5s; */
}

/* .primary-app:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
} */

.secondary-app {
  margin: 1%;
  width: 48%;
  height: 200px;
  border: 5px solid var(--secondary-color);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-size: cover;
  background-position: center;
  /* opacity: 1;
  transition-duration: 0.5s; */
}

/* .secondary-app:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
} */

.opacity-tint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  transition-duration: 0.5s;
}

.opacity-tint:hover {
  background-color: rgba(255,255,255,0.75);
  transition-duration: 0.5s;
}

.app-label {
  /* padding: 10px 20px; */
  margin: 40px 40px;
  width: auto;
  color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.project-title {
  font-family: Baskerville, "Baskerville Old Face";
  font-size: xx-large;
  color: rgba(128,128,128,0.5);
  transition-duration: 0.5s;
  
}

.project-title:hover {
  color: rgba(0,0,0,1);
  transition-duration: 0.5s;
}

.githubimage {
  max-width: 32px;
  max-height: 32px;
  margin-left: 20px;
  display: flex;
  opacity: 0.25;
  transition-duration: 0.5s;

}

.githubimage:hover {
  opacity: 1;
  transition-duration: 0.5s;

}

.project-language {
  color: black;
}


#game-quest {
  background-image: url(../src/assets/cards.png);
}

#book-search {
  background-image: url(../src/assets/books.jpeg);
}

#run-buddy {
  background-image: url(../src/assets/Run\ Buddy\ Cover.jpg);
}

#robot-gladiators {
  background-image: url(../src/assets/Robot\ Gladiators\ Cover.jpg);
}

#park-buddy {
  background-image: url(../src/assets/parkbuddyimg.jpg);
}

#horiseon {
  background-image: url(../src/assets/Horiseon\ Cover.jpg);
}

#password-generator {
  background-image: url(../src/assets/Password\ Generator\ Cover.webp);
}

#pet-park {
  background-image: url(../src/assets/petparklogo.svg);
  background-color: blueviolet;
}

/* end styling for main work section*/

/* styling for footer section*/

#footer {
  display: flex;
  flex-flow: row wrap;
}

#footer address {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  padding: 10px;
}

#footer a {
  font-size: 30px;
  color: var(--secondary-color);
}


/*contact form styling*/
#contact{
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.form-container {
  flex-direction: column-reverse;
  align-items: center;
  width: 65%;
  padding: 2%;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;

}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

/*end styling for contact me section */





/*util styles and class styles*/
.section-title {
  width: 30%;
  font-size: 36px;
  padding: 20px 30px;
  border-right: 2px solid var(--tertiary-color);
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

#resume {
  display: flex;
  flex-direction: row;
  margin: 40px 0px;
}


#resume-button {
  font-size: 30px;
}

.resume-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}


/*------------- MEDIA QUERIES-------------*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER (980px AND UNDER)*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER (980px AND UNDER)*/
@media screen and (max-width: 1440px) {
  header {
    flex-direction: column;
    align-content: center;
    position: relative;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
  }

  header nav ul li a {
    padding: 10px 0px;
  }

  #about-me,
  #work,
  #contact,
  #resume,
  #footer {
    flex-direction: column;
    align-items: center;
  }

  #about-me article {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }

  .section-title {
    justify-content: center;
    border-right: none;
    border-bottom: 3px solid var(--tertiary-color);
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  #about-me p {
    width: 100%;
  }

  #about-me .img-container {
    width: 100%;
  }

  #about-me article {
    padding: 0px;
  }

  .app-container,
  #contact-me address {
    margin-top: 10px;
  }

  .app-label {
    font-size: 10px;
  }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER (768px AND UNDER)*/
@media screen and (max-width: 768px) {

  #footer address {
    width: 100%;
  }

  .app-container {
    width: 80%;
  }

  #about-me .img-container {
    width: 100%;
  }

  #about-me article {
    padding: 0px;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER (575px AND UNDER)*/
@media screen and (max-width: 575px) {
  header nav {
    width: 100%;
  }

  header nav ul li span {
    font-size: 20px;
  }

  #footer address {
    flex-direction: column;
  }


}